{% extends 'base.html.twig' %}

{% block title %}Locatie{% endblock %}

{% block body %}
    <h1>Locatie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ locatie.id }}</td>
            </tr>
            <tr>
                <th>Breedtegraad</th>
                <td>{{ locatie.breedtegraad }}</td>
            </tr>
            <tr>
                <th>Lengtegraad</th>
                <td>{{ locatie.lengtegraad }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ locatie.imageName }}</td>
            </tr>
            <tr>
                <th>ImageSize</th>
                <td>{{ locatie.imageSize }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ locatie.updatedAt ? locatie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('locatie_index') }}">back to list</a>

    <a href="{{ path('locatie_edit', {'id': locatie.id}) }}">edit</a>

    {{ include('locatie/_delete_form.html.twig') }}
{% endblock %}
