{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="6"><h1>shopping cart</h1></th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Full price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>${{ item.price }},-</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.fullPrice }},-</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No items in cart, go buy yourself something nice :D</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>The total amount: ${{ actualPrice }},-</td>
            </tr>
            <tr>
                <td colspan="10">
                    <a href="{{ path('product_index') }}"> <button class="btn btn-primary">Back</button></a>
                    <a href="{{ path('cart_pay') }}"><button class="btn btn-danger">Order</button></a>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
